<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="developerobj" class="com.di.Developer">
   <!--- <property name="comp" ref="lappy"></property> -->
   <constructor-arg name="comp" ref="lappy"></constructor-arg>
    </bean>

<bean id="deskobj" class="com.di.Desktop"></bean>
<bean  id="lappy" class="com.di.Laptop"></bean>
</beans>                               